body{
    background-image: url("images/Bn.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o--background-size: cover;
    background-size: cover;
    }
body{
    color: white;
}